
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-google-gray-800 antialiased;
  }
  h1, h2, h3, h4 {
    @apply font-product tracking-tight;
  }
}

.google-sans {
  font-family: 'Product Sans', 'Roboto', sans-serif;
}

.btn-blue {
  @apply bg-[#1a73e8] text-white transition-all duration-200 font-product tracking-wide shadow-none hover:bg-[#1765cc] hover:shadow-md;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
